

// Iconfont
@import 'iconfont.scss';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #43423F;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);

  .navbar-brand{
    display: inline-block;
    width: 200px;
    height: 40px;
    background: url('/images/logo.png') no-repeat;
    background-size: auto 100%;
  }

  .mr-auto{
    margin-left: 100px;
  }

  .navbar-nav.mr-auto, .navbar-nav.ml-auto{
    .nav-item{

      &.site-view{
        height: 45px;
        display: flex;
        align-items: center;

        a{
          display: block;
          height: 32px;
          line-height: 32px;
          background-color: white;
          padding: 0 24px;
          border-radius: 16px;
          color: black;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          border: none;
          font-size: 14px;
          margin-right: 24px;
          text-decoration: none;
        }
      }

      a{
        color: white;
        font-size: 14px;
        line-height: 40px;
        margin-right: 50px;

        &.nav-link{
          padding: 0 !important;
          height: 40px;
        }

        .navbar-avatar{
          border-radius: 50%;
          height: 52px;
          margin-right: 10px;
          border: 1px solid #f1f1f1;
        }

        .navbar-name-avatar{
          display: inline-block;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: 1px solid #f1f1f1;
          margin-right: 10px;
          line-height: 40px;
          text-align: center;
          background-color: lightblue;
          color: black;
          font-family: 'Courier New', Courier, monospace;
        }
      }
      .dropdown-item{
        color: black;
      }
    }
  }

  .navbar-toggler{
    color: white;
  }
}

.album{
  display: flex;
  justify-content: space-between;
}

.album-new{
  cursor: pointer;
  background-color: lightgray;
}

.album,.album-new{
  height: 50px;
  line-height: 50px;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 0 0 0 8px;
  margin: 8px;

  &:hover{
    box-shadow: 1px 1px 8px lightgray;
  }

  &.active{
    border-color: dodgerblue;

    &:hover{
      box-shadow: 1px 1px 8px dodgerblue;
    }

    .op{
      visibility: visible;
      display: flex;
      color: #7c7c7c;

      i{
        cursor: pointer;

        &:hover{
          color: dodgerblue;
        }
      }

      .move{
        width: 24px;
        div{
          line-height: 24px;
          height: 50%;
          width: 100%;
          text-align: center;
          border-left: 1px solid dodgerblue;

          &.up{
            border-bottom: 1px solid dodgerblue;
          }
        }
      }
    }
  }

  .name{
    cursor: default;
  }

  .op{
    visibility: hidden;
  }
}


.post{
  margin-bottom: 16px;
}

#upload-container{
  visibility: hidden;
  margin-bottom: 16px;
}

#upload-container{

  .image{
    
  }
}