

// Iconfont
@import 'iconfont.scss';

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'loading.scss';

@import '~viewerjs/dist/viewer.css';

@import '~medium-editor/dist/css/medium-editor.css';
@import '~medium-editor/dist/css/themes/default.css';

.album{
  display: flex;
  justify-content: space-between;
}

.album-new{
  cursor: pointer;
  background-color: lightgray;
}

.album,.album-new{
  height: 50px;
  line-height: 50px;
  border: 1px solid lightgray;
  border-radius: 2px;
  padding: 0 0 0 8px;
  margin: 8px;

  &:hover{
    box-shadow: 1px 1px 8px lightgray;
  }

  &.active{
    border-color: dodgerblue;

    &:hover{
      box-shadow: 1px 1px 8px dodgerblue;
    }

    .op{
      visibility: visible;
      display: flex;
      color: #7c7c7c;

      i{
        cursor: pointer;

        &:hover{
          color: dodgerblue;
        }
      }

      .move{
        width: 24px;
        div{
          line-height: 24px;
          height: 50%;
          width: 100%;
          text-align: center;
          border-left: 1px solid dodgerblue;

          &.up{
            border-bottom: 1px solid dodgerblue;
          }
        }
      }
    }
  }

  .name{
    cursor: default;
  }

  .op{
    visibility: hidden;
  }
}


.post{
  margin-bottom: 16px;
}

#upload-container{
  visibility: hidden;
  margin-bottom: 16px;
}

#upload-container{

  .image{
    
  }
}


.medium-editor-hidden{
  display: none;
}

.dropdown-menu li a{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}